body {
    background-color: azure;
}
h1 {
    font-family: 'Trocchi', serif;
    text-align: center;
    padding: 10px;
    font-family: 'Trocchi', serif;


}
    
h3 {
    font-family: 'Trocchi', serif;
    padding: 30px;
    text-align: center;
    margin: auto;
    font-family: 'Trocchi', serif;


}

.portfolio {
    display: grid;
    grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  
  .image img {
    width: 100%;
  }